# Visual Studio & Build
.vs/
**/bin/
**/obj/
TestResults/
artifacts/
*.user
*.suo
*.sln.docstates

# Compiled binaries & artifacts
*.dll
*.exe
*.pdb
*.nupkg

# Temp files
*.tmp
*~
~$*

# OS
Thumbs.db
desktop.ini
.DS_Store

# OneDrive & cloud sync
~*
*.sync.conflict
